.container {
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.title {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 10px;
}

.desc {
  color: #666;
  font-size: 14px;
  margin-bottom: 20px;
}

.uploadBox {
  background: #fafafa;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 10px;
}

.preview {
  margin-top: 15px;
}

.preview img {
  width: 100%;
  border-radius: 10px;
}

.confirmBtn {
  margin-top: 20px;
  background: green;
  color: white;
  padding: 12px 16px;
  border: none;
  width: 100%;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}
